.gridProduct{
  grid-template-columns: repeat(4,1fr); 
  grid-gap: 2em;
}
@media (max-width: 1200px){
  .gridProduct{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
  }
}
@media (max-width: 768px){
  .gridProduct{
    grid-template-columns: repeat(2,1fr);
  }
}