@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}


@keyframes expand {
  0%{
    transform: scale(0);
  }
  100%{
   transform: scale(1);
  }
}

