@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
body {
  margin: 0;
  font-family: 'Roboto';
}
@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-100vh);
  }
  100%{
    opacity: 1;
    transform: translateY(0)
  }
}