.detailsContainer {
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0em 2em;
  animation: appear 1s ease    ;
}
.detailsInfoContainer {
  height: 80vh;
}

.detailsImgContainer{
  height: 80vh;
}

.closeBtnHolder {
  display: flex;
  justify-content: flex-end;
  
}

.detailsPage {
  display: flex;
  
}
.imgStyle{
  max-height: 100%;
  max-width: 100%;
}


.formContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  margin-bottom: 10vh;
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width: 768px){
  .detailsInfoContainer {
    height: 40vh;
  }
  .imgStyle{
    max-height: 95%;
    max-width: 100%;
  }
  
  .detailsImgContainer{
    height: 60vh;
  }
  
  .detailsPage{
    flex-direction: column;
  }
  .formContainer{
    width: 100%;
  }
}